.productInput {
  margin-right: 2rem;
}

.detailDescription h3 {
  margin-top: 3rem;
}

.detailDescription p {
  margin-top: 2rem;
}
.detailDescription input {
  margin-top: 2rem;
}

.aniStart {
  transform: scale(0);
}
.end {
  transform: scale(1);
  transition: all 0.5s;
}
